@import "./_variables.scss";
@import "bootstrap";
@import "./_overrides.scss";
@import "./utilities.scss";
@import "./loaders.scss";

@font-face {
  font-family: "Anek";
  src: url("./fonts/AnekTamil-VariableFont_wdth,wght.ttf");
}
@font-face {
  font-family: "Rockout";
  src: url("./fonts/Rockout-vVaM.ttf");
}
@font-face {
  font-family: "Momcake";
  src: url("./fonts/MomcakeBold-WyonA.otf");
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $dark;
}

main {
  flex-grow: 1;
}

a {
  text-decoration: none;
}

input,
textarea,
select {
  &:not(:placeholder-shown) {
    &:valid {
      border: 1px solid $success;
    }
    &:invalid {
      border: 1px solid $danger;
    }
  }
}

form:invalid button[type="submit"] {
  filter: grayscale(1);
  pointer-events: none;
}
